{% extends 'base.html.twig' %}

{% block title %}Products
{% endblock %}

{% block body %}

	<main class="container">

		<section class="filters">
			<button class="outline">Localisation</button>
			<button class="outline">Prix</button>
			<button class="outline">Filtres</button>
		</section>

		<twig:ProductCards :searchDto="searchDto"></twig:ProductCards>

	</main>
{% endblock %}
