{% extends 'base.html.twig' %}

{% block title %}Products
{% endblock %}

{% block body %}

	<main class="container">
		<twig:FilterProducts :searchDto="searchDto"></twig:FilterProducts>
	</main>
{% endblock %}
