{% extends 'base.html.twig' %}

{% block title %}Products
{% endblock %}

{% block body %}

	<main class="container">

		<twig:FilterButtons></twig:FilterButtons>

		<twig:FilterForm :searchDto="searchDto"></twig:FilterForm>
		<twig:ProductCards :searchDto="searchDto"></twig:ProductCards>

	</main>
{% endblock %}
