:root[data-theme=light] {
    --pico-text-selection-color: rgba(244, 93, 44, 0.25);
    --pico-primary: #bd3c13;
    --pico-primary-transparent: #bd3c1377;
    --pico-primary-background: #d24317;
    --pico-primary-underline: rgba(189, 60, 19, 0.5);
    --pico-primary-hover: #942d0d;
    --pico-primary-hover-background: #bd3c13;
    --pico-primary-focus: rgba(244, 93, 44, 0.25);
    --pico-dark: rgb(16, 4, 0);
    --pico-primary-inverse: #fffbfb;
    --neutral: #786f6db8;
    --neutral-light: #e9d9d5;
    --pico-font-size: 1.1rem;
}

h1 {
    --pico-font-size: 1.6rem;
}

h2 {
    --pico-font-size: 1.3rem;
}

nav {
    --pico-border-radius: 1rem;

    & .brand {
        font-size: 1.5rem;
        color: var(--pico-primary);
    }

    a {
        color: var(--pico-dark);
        font-size: 0.9rem;
    }
}


.filters {
    display: flex;
    gap: var(--pico-spacing);
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--pico-spacing);
}


article {
    --pico-block-spacing-horizontal: 0;
    --pico-block-spacing-vertical: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: max(350px, 70%);
    border: 1px solid var(--neutral-light);
    position: relative;

    img {
        min-height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &>main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        padding: var(--pico-spacing);

        h2 {
            --pico-font-size: 1.2rem;
            --pico-font-weight: 500;
            --pico-typography-spacing-vertical: 0;
        }

        .price {
            padding-block-end: var(--pico-spacing);
            --pico-font-weight: 500;
        }

        .urgent {
            &:not(:empty) {
                position: absolute;
                height: fit-content;
                inset: 0.5rem;
                padding: 0.2rem 0.3rem;
                font-size: 0.7rem;
                border-radius: 0.7rem;
                width: fit-content;
                background-color: var(--pico-primary-inverse);
                border: 1px solid var(--pico-primary);
                color: var(--pico-primary);
            }
        }

        .date {
            color: var(--neutral);
            font-size: 0.8rem;
        }
    }
}

.filter-wrapper {
    display: none;

    &.visible {
        display: block;

        & .filter-backdrop {
            position: fixed;
            inset: 0;
            background-color: var(--neutral);
            width: 100vw;
            height: 100vh;
            z-index: 1;
        }

        & .filter-form {
            position: fixed;
            top: 0;
            right: 0;
            background-color: var(--pico-primary-inverse);
            z-index: 2;
            width: 360px;
            height: 100vh;
            padding: var(--pico-spacing);
            translate: 100%;
            animation: slide 0.5s ease-in-out forwards;
        }
    }

    legend {
        font-weight: bold;
    }

}

@keyframes slide {
    to {
        translate: 0;
    }
}