<nav class="container">
	<ul>
		<li class="brand">
			<strong>Le coin pas trop mal</strong>
		</li>
		<li>
			<a href="#" role="button">Déposer une offre</a>
		</li>
	</ul>
	<ul>
		<li>
			<div role="search">
				<input type="search">
				<button>Rechercher</button>
			</div>
		</li>
	</ul>
	<ul>
		<li><a href="#">Mes recherches</a></li>
		<li><a href="#">Favoris</a></li>
		<li><a href="#">Se connecter</a></li>
	</ul>
</nav>
