<nav class="container-fluid">
	<ul>
		<li>
			<strong>La bonne affaire</strong>
		</li>
	</ul>
	<ul>
		<li><a href="#">Chercher</a></li>
		<li><a href="#">Déposer une offre</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav>
