<div{{attributes}}>
	<section class="filters">
		<twig:FilterLocalisation :searchDto="searchDto" :results="results"></twig:FilterLocalisation>
		<twig:FilterButtons :searchDto="searchDto"></twig:FilterButtons>
	</section>
	<twig:FilterForm :searchDto="searchDto" :results="results"></twig:FilterForm>
	<twig:ProductCards :products="products" :results="results"></twig:ProductCards>
</div>
