<div{{ attributes }}>
		<twig:FilterButtons :searchDto="searchDto"></twig:FilterButtons>
		<twig:FilterForm :searchDto="searchDto" :results="results"></twig:FilterForm>
		<twig:ProductCards :products="products" :results="results"></twig:ProductCards>
</div>
