<div{{attributes}}>
	<section class="filters">
		<button class="outline">Localisation</button>
		<button class="outline">Prix</button>
		<button class="outline" data-action="live#emit" data-event="showFilter">Filtres</button>
	</section>
</div>
